.card-produto {

    .bi-star-fill {
        color: var(--cor-primaria);
    }

}

.produto {
    .bi-star-fill {
        color: var(--cor-primaria)
    }

    .preco {
        font-size: 35px;
        font-weight: bold;
    }
}