@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@font-face {
    font-family: 'Abel';
    src: url('../fonts/abel/Abel-Regular.ttf');
}

:root {
    --cor-primaria: #1E2A44;
    --cor-secundaria: #641e1e;
    --cor-terciaria: #3d2f22;
    --cor-quartenaria: #c39a1c;
    --cor-quintenaria: #efeee9;
    
}

body {
    font-family: 'Abel', Arial, sans-serif;
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

main {
    flex: 1;
}

.bg-cor-primaria {
    background-color: var(--cor-primaria);
}

.bg-cor-secundaria {
    background-color: var(--cor-secundaria);
}

.bg-cor-tertiary {
    background-color: var(--cor-terciaria);
}

.bg-cor-quartenary {
    background-color: var(--cor-quartenaria);
}

.bg-cor-quintenary {
    background-color: var(--cor-quintenaria);
}

.text-primary {
    color: var(--cor-primaria) !important;
}

.text-secondary {
    color: var(--cor-secundaria) !important;
}

.text-tertiary {
    color: var(--cor-terciaria) !important;
}

.text-quartenary {
    color: var(--cor-quartenaria) !important;
}

.text-quintenary {
    color: var(--cor-quintenaria) !important;
}


/* HEADER */
header {

    .site-search {

        .btn {
            right: 10px;
            top: 3px;
            z-index: 9;
            border: none;
            color: var(--cor-secundaria);
        }

    }

    .badge {
        width: 20px;
        height: 20px;
        text-align: center;
        padding: 0;
        padding-top: 4px;
    }

    .caixa-imagem {
        height: 8vh;
        width: 8vw;
    }
}

/* FOOTER */

footer {
    ul {
        list-style: none;
        padding: 0;
    }
}


